:root {
  --bg:         hsl(0, 0%, 100%);
  --bg-invert:  hsl(0, 0%, 0%);

  --text:         var(--bg-invert);
  --text-invert:  var(--bg);

  --font: 'Abril Fatface', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg:         hsl(0, 0%, 0%);
    --bg-invert:  hsl(0, 0%, 100%);
  }
}
