:root {
  --hue: 255;

  --accent: hsl(var(--hue), 100%, 50%);

  --bg:         hsl(0, 0%, 100%);
  --bg-invert:  hsl(0, 100%, 0%);

  --text:         var(--bg-invert);
  --text-invert:  var(--bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg:         hsl(0, 100%, 0%);
    --bg-invert:  hsl(0, 0%, 100%);
  }
}
